* {
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src:url("../fonts/Lato-Regular.ttf");
}


body {
    margin:0;
    font-family: lato, 'Times New Roman', Times, serif;
}



/******************************************************HELPERS**********************************/
/* tap targets: (finger size)*/
nav a, button {
	min-width: 48px;
} 

/*dont strech my media*/
img, embed, video, object {
    max-width:100%;
    height: auto;
}

/* --- list ---*/
.clean-list{  /*give this class for the ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --- flex ---*/
.flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}



/************************************************END***HELPERS**********************************/
main {
    padding: 10px;
    margin:20px 0 0 0;

}
.imgs-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.imgs-list li{
    cursor: pointer;
    max-width: 30%;
}

.list-item-container {
    height: 200px;
    width: 200px;
    display: flex;
    margin: 0 0 20px;
}


.modal{
    /* height:  calc(100% - 60px); */
    /* width: 100%; */
    /* top: 60px; */
    padding: 10px;
    /* position: fixed;  */
    z-index: 2;
    background-color: #404040;
    opacity: 0;
    display: none;
    transition:all 0.4s;
}

.open-modal{
   
    opacity: 1;
    display: block;
}
.modal-back {
    background-color: #404040;
}
.meme-img {
    margin: 0 20px 0 0;
    /* width: 60%; */
    align-items: center;
    flex-direction: column;
}



.btn{
    width: 100%;
    height: 30px;
    background-color: #2eb398; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    transition:all 0.3s;
}
.btn:hover,.btn:active {
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 7px black;
}
.modal-back-btn {
    margin: 0 0 10px;
}
.back-arrow {
    cursor: pointer;
    grid-row:1/1;
    height: 100%;
    background: #eda11a;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;
}
.download-btn a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}


.canvas{
    box-shadow: 0 0 9px #1b1a1a;
    width: 100%;
    padding: 10px;
}

.line-idx {
    margin: 0 0 10px;
    color: #dcd1d1;
    padding: 0 2px 0;
}
.meme-input-line{
    border:none;
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px #1b1a1a;
    background-color: #bcc0c1;
    height: 40px;
    width: 100%;
    padding: 2px;
    font-size: 1em;
}

.control-btns-list{
    width: 100%;
}
.control-btn-item{
    width: 100%;
}

.control-btn{
    cursor: pointer;
    background-color: #6b6b6b;
    color: white;
    height: 35px;
    border: none;
    box-shadow: 0 0 3px black;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

 .disabled{
    opacity: 0.3;
}

.control-btn:hover, .control-btn:active {
    color:black;
}
.fonts-btn, .download-btn{
    width: 100%;
}
.align-container {
    position: relative;
}

/* Header */
header {
    background-color: #323232;
    /* margin: 0 0 20px 0; */
}

.hedaer-decoration {
    position: absolute;
    top:0;
    left:50%;
    z-index: -1;
}
.hedaer-decoration img {
    height: 80px;
}

.show {
    display: block;
}
.hide {
    display: none;
}
 
nav {
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
}
nav h1 {
    display: none;
    margin: 0;
    color: #2eb398;
}


.nav-list {
    color: #ffffff;
    font-family: lato, 'Times New Roman', Times, serif;
}
.nav-list li {
    position: relative;
}

.nav-list a{
cursor: pointer;
margin: 0 30px 0;
font-weight: 700;
line-height: 6.32px;
text-decoration: none;
text-transform: uppercase;
height: 60px;
color:inherit;
}

.nav-list li:hover, .nav-list li:active{
    color: #2eb398;
}
.nav-list a:visited {
    color:inherit;
}
.active {
    color: #2eb398;
}

.align-menu {
    display: none;
    position: absolute;
    top: 105%;
    border: 1px solid black;
}
.align-menu li button {
    background-color: #93b3cc;
}


.align-container:hover .align-menu {
        display: block;
   
}
.display-block{
    display: block;
}

.filter-container{
    width: 100%;
}

.filter-search{
    margin: 0.5rem;
    /* width: 100%; */
    height: 40px;
    text-align: center;
    margin: 0 0 10px;

}

.popular-searches{
    background-color: orange;
    margin: 0 0 10px;
    width: 50%;
    min-height: 100px;
    flex-wrap: wrap;
}

.popular-item{
    margin: 0 5px 0 0;
    color: white;
    cursor: pointer;
}