* {
    box-sizing: border-box;
}


@font-face {
    font-family: lato;
    src:url("../fonts/Lato-Regular.ttf");
}
/******************************************************HELPERS**********************************/
/* tap targets: (finger size)*/
nav a, button {
	min-width: 48px;
<<<<<<< HEAD
=======
	/* max-width: 48px; */
>>>>>>> 4d0a81242957662c41634ecd3a897558d1bf0e6e
} 

/*dont strech my media*/
img, embed, video, object {
    max-width:100%;
    height: auto;
}

/* --- list ---*/
.clean-list{  /*give this class for the ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --- flex ---*/
.flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}


/************************************************END***HELPERS**********************************/

.imgs-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.imgs-list li{
    max-width: 30%;
}

.modal{
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
}

.open-modal{
    opacity: 1;
    visibility: visible;
}

.meme-img {
    width: 60%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}



.modal-back-btn{
    width: 100%;
    height: 20px;
    background-color: #2eb398; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
}


/* Header */
header {
    background-color: #323232;
}
nav {
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

.nav-list {
    color: #ffffff;
    font-family: lato, 'Times New Roman', Times, serif;
}

.nav-list a{
cursor: pointer;
margin: 0 30px 0;
font-weight: 700;
line-height: 6.32px;
text-transform: uppercase;
height: 60px;
}

.nav-list a:hover, .nav-list a:active {
    color: #2eb398;
}


