* {
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src:url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Maven Pro;
    src:url("../fonts/MavenPro-Regular.ttf");
}



body {
    margin:0;
    font-family: lato, 'Times New Roman', Times, serif;
    background-color: #404040;

}



/******************************************************HELPERS**********************************/
/* tap targets: (finger size)*/
nav a, button {
	min-width: 48px;
} 

/*dont strech my media*/
img, embed, video, object {
    max-width:100%;
    height: auto;
}

/* --- list ---*/
.clean-list{  /*give this class for the ul*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* --- flex ---*/
.flex{
    display: flex;
}

.flex-dir-col{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}



/************************************************END***HELPERS**********************************/
main {
    padding: 10px;
    margin:20px 0 0 0;

}
.imgs-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.imgs-list li{
    cursor: pointer;
    margin: 0 0 10px 10px;
}

.list-item-container {
    height: 200px;
    width: 200px;
    display: flex;
}


/* canvas */

.modal{
    padding: 10px;
    z-index: 2;
    background-color: #404040;
    opacity: 0;
    display: none;
    transition:all 0.4s;
}

.open-modal{
    opacity: 1;
    display: block;
}
.canvas-container{
    align-items: center;
}


.meme-img {
    margin: 0 20px 0 0;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 100%;
    height: 30px;
    background-color: #2eb398; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    transition:all 0.3s;
}

.box-control,.btn-down {
    margin: 0 0 10px;
}
.btn:hover,.btn:active {
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 7px black;
}
.modal-back-btn {
    margin: 0 0 10px;
}
.back-arrow {
    cursor: pointer;
    grid-row:1/1;
    height: 100%;
    background: #eda11a;
    padding: 0 10px;
    align-items: center;
    justify-content: space-around;
}
.download-btn a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.btn-menu {
    outline: none;
    margin:0;
    width: 50px;
    opacity: 1;
    display: block;  
}

.btn-menu:hover,.btn-menu:active {
    color:black;
}

.canvas{
    box-shadow: 0 0 9px #1b1a1a;
    width: 100%;
    padding: 10px;
}

.line-idx {
    margin: 0 0 10px;
    color: #dcd1d1;
    padding: 0 2px 0;
}
.meme-input-line{
    border:none;
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px #1b1a1a;
    background-color: #bcc0c1;
    height: 40px;
    width: 100%;
    padding: 2px;
    font-size: 1em;
}

.control-btns-list{
    width: 100%;
}
.control-btn-item{
    width: 100%;
}
.control-btns-list li {
    width: 100%;
}

.control-btn{
    cursor: pointer;
    background-color: #6b6b6b;
    color: white;
    height: 35px;
    border: none;
    box-shadow: 0 0 3px black;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

 .disabled{
    opacity: 0.3;
}

.control-btn:hover, .control-btn:active {
    color:black;
}

.control-btn-active{
    color:black;
}
.fonts-btn, .download-btn{
    width: 100%;
}
.align-container, .font-container {
    position: relative;
}

@media (min-width:630px) {
    .canvas-container{
        flex-direction: row;
        align-items: baseline;
    }
}

/* Header */
header {
    background-color: #323232;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 5px 0 0;
}

.hedaer-decoration {
    position: absolute;
    top:0;
    left:50%;
    z-index: -1;
}
.hedaer-decoration img {
    height: 80px;
}

.show {
    display: block;
}
.hide {
    display: none;
}
 
nav {
    min-height: 60px;
    justify-content: flex-end;
    background-color: inherit;
    align-items: center;
    position: relative;
}



.nav-list {
    color: #ffffff;
    font-family: lato, 'Times New Roman', Times, serif;
    transition: all 0.3s;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
    background-color: inherit;
    box-shadow: 0 0 0px 1px black;
    opacity: 0;
}

header .logo {
    width: 50px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    background-image: url("../img/logo/icon.png");
}

.nav-list li {
    position: relative;
}
.nav-list li:not(:last-child) {
    box-shadow: 0 1px 0px 0px black
}

.nav-list a{
cursor: pointer;
margin: 0 30px 0;
font-weight: 700;
line-height: 20px;
text-decoration: none;
text-transform: uppercase;
height: 60px;
justify-content: space-around;
color:inherit;
}

.nav-list li:hover, .nav-list li:active{
    color: #2eb398;
}
 a:visited {
    color:inherit;
}
.active {
    color: #2eb398;
}

.align-menu , .font-menu {
    display: none;
    position: absolute;
    top: 105%;
    border: 1px solid black;
}
.align-menu li button , .font-menu li button {
    background-color: #93b3cc;
}


.align-container:hover .align-menu, .font-container:hover .font-menu {
        display: block;
   
}
.display-block{
    display: block;
}

.filter-container{
    width: 100%;
}

.filter-search{
    margin: 0.5rem;
    /* width: 100%; */
    height: 40px;
    text-align: center;
    margin: 0 0 10px;

}

.popular-searches{
    background-color: orange;
    margin: 0 0 10px;
    width: 50%;
    min-height: 100px;
    flex-wrap: wrap;
}

.popular-item{
    margin: 0 5px 0 0;
    color: white;
    cursor: pointer;
}

.about{
    background-color: #2eb398;
    color: white;
    padding: 5px 0;
}
.about h1 {
    font-family: Maven Pro,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #d7fcf5;
    font-size: 30px;
    font-weight: 400;
}

.about h3 {
    font-family: Maven Pro,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 10px;
    color: #20816d;
}

.about p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21.56px;
}

.about-container{
    width: 80%;
    border-left: #219d84 solid 1px;
    border-right: #219d84 solid 1px;
    padding: 1rem;
}

.about-logo{
    background-size: contain;
    background-image: url("../img/other/ca-logo@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100px;
    width: 50%;
    min-width: 100px;
    margin: 0 20px 0 0;
}




.about-text-container{

    margin-left: 1rem;
}

.about-description{
    color: #6b6b6b;
}


.contact-us-container{
    width: 230px;
}

.contact-us{
    width: 40px;
    height: 40px;
    background-color: #b6b6b6;
    cursor: pointer;
}

path{
    color: white;
}

.facebook:hover{
    background-color: #3b5998
}

.twiter:hover{
    background-color:#00aced; 
}

.behance:hover{
    background-color: #1769ff;
}

.dribble:hover {
    background-color: #ea4c89;
}

@media(min-width:700px) {

    nav {
        padding: 5px;
        justify-content: space-around;
    }
    .btn-menu  {
        opacity: 0;
        display: none;
    }
    .nav-list {
        flex-direction: row;
        position: relative;
        opacity: 1;
        top:0;
        box-shadow: none;
        
    }
    .nav-list li:not(:last-child) {
        box-shadow:none;
    }
   .about-container {
       flex-direction: row;
   }
}

.open-list {
    opacity: 1;
}
